
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  margin: 0;
  background-color: rgb(25, 22, 54);
}

.thisWeek {
  background-color: rgb(25, 22, 54);
  transition: background-color 0.5s ease;
}

.nextWeek {
  background-color: rgb(16, 78, 16);
  transition: background-color 0.5s ease;
}
